/* base */
html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  font-family: 'NotoSans KR';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

/* text */
h1, h2, h3, p {
  margin: 0;
}
.strong {
  font-weight: 700;
}

/* focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* button */
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
}

/* list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}
